# Machine Learning Project: Classification 2
Calvin Wong<br>
Mohammed Hussain

In [1]:
# Useful libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVC

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score, classification_report
from sklearn import metrics  
from sklearn import tree

# Classification

In [2]:
Test = pd.read_csv("TestData2.csv", header=None)
Test

,0,1,2,3,4,5,6,7,8,9,...,9172,9173,9174,9175,9176,9177,9178,9179,9180,9181
0,2.61,1.86,1.38,1.30,1.30,1.30,3.26,3.11,3.09,1.30,...,1.85,1.46,1.30,2.16,2.27,2.28,1.73,1.61,2.29,1.3
1,2.78,1.72,1.30,1.30,1.63,1.30,3.14,2.83,3.26,1.30,...,1.60,1.94,2.38,1.85,2.14,2.30,1.30,1.30,2.11,1.3
2,2.72,1.90,1.63,1.30,2.76,1.30,2.76,3.36,3.09,1.38,...,2.11,1.83,1.30,1.95,2.29,2.24,1.85,2.16,2.26,1.3
3,2.83,1.92,1.34,1.30,1.36,1.30,3.16,3.02,3.04,1.51,...,2.03,3.17,1.30,1.91,2.24,2.00,1.51,1.57,2.29,1.3
4,2.65,1.94,1.30,1.30,1.30,1.30,3.23,3.05,3.27,2.07,...,1.95,1.53,1.30,2.00,1.83,2.35,1.80,2.03,2.21,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2.76,1.60,1.76,1.30,1.76,1.30,3.52,2.85,3.15,1.30,...,1.88,1.30,1.30,1.65,1.81,2.23,1.96,2.26,1.78,1.3
70,2.95,2.04,1.30,1.30,1.30,1.36,3.43,3.13,2.70,1.34,...,2.16,1.95,1.30,2.11,2.14,1.88,1.56,1.76,2.21,1.3
71,2.82,1.74,1.30,1.30,1.30,1.30,3.45,3.71,2.91,1.30,...,2.13,1.30,1.30,2.03,2.30,1.77,1.30,1.89,2.23,1.3
72,2.76,1.94,1.30,1.64,2.74,1.30,3.31,3.84,3.33,1.30,...,2.22,2.10,1.30,1.96,1.30,2.17,1.63,1.86,2.30,1.3
73,2.62,1.30,1.92,1.30,2.18,1.30,3.26,3.12,3.11,1.93,...,1.70,1.30,1.30,1.93,1.98,1.83,1.51,1.48,1.90,1.3

In [3]:
Train = pd.read_csv("TrainData2.csv", header=None)
Train

,0,1,2,3,4,5,6,7,8,9,...,9172,9173,9174,9175,9176,9177,9178,9179,9180,9181
0,2.36,1.51,1.48,1.30,2.99,1.30,2.73,3.28,3.53,2.12,...,1.53,1.79,2.00,1.48,1.92,1.76,2.03,2.11,1.87,1.3
1,2.00,1.63,1.74,1.82,3.70,1.30,3.00,3.12,3.36,1.57,...,1.76,2.06,1.43,1.63,1.95,1.91,2.69,2.95,1.96,1.3
2,1.93,1.30,1.45,1.30,3.38,1.30,3.05,3.39,3.36,1.71,...,1.98,2.20,1.30,1.71,2.04,1.93,1.79,1.88,1.96,1.3
3,2.23,1.60,1.56,1.91,3.42,1.30,3.08,3.29,3.36,1.30,...,1.79,2.20,1.63,1.72,1.91,2.13,1.78,1.84,1.95,1.3
4,1.76,1.62,1.30,2.03,3.55,1.30,3.17,3.14,3.50,1.89,...,1.30,1.79,2.20,1.62,1.86,1.91,1.78,1.70,1.87,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.61,1.70,1.30,1.30,2.16,1.30,3.16,3.16,3.14,1.93,...,1.78,1.95,2.55,1.77,1.81,2.20,1.63,1.79,1.94,1.3
96,2.72,1.69,2.29,1.40,1.30,1.30,3.17,4.06,3.25,1.30,...,2.28,1.76,1.30,2.28,2.02,1.96,1.30,1.30,2.30,1.3
97,2.53,1.71,1.30,1.30,2.40,3.03,3.23,3.25,3.01,1.30,...,1.99,2.26,2.15,2.09,2.00,2.13,1.57,1.72,2.18,1.3
98,2.50,1.64,1.69,1.30,2.40,2.37,3.13,3.23,3.38,1.76,...,1.76,1.40,1.30,1.86,1.94,2.08,1.30,1.63,2.02,1.3
99,2.72,1.30,1.30,2.34,1.70,1.30,3.34,3.11,3.20,2.09,...,1.89,1.63,1.61,1.98,1.99,2.04,1.49,1.49,2.52,1.3

In [4]:
Label = pd.read_csv("TrainLabel2.csv", header=None)
Label

     0
0    1
1    1
2    1
3    1
4    1
..  ..
95  11
96  11
97  11
98  11
99  11

[100 rows x 1 columns]

In [5]:
df = pd.concat([Label,Train], axis=1, ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,9173,9174,9175,9176,9177,9178,9179,9180,9181,9182
0,1,2.36,1.51,1.48,1.30,2.99,1.30,2.73,3.28,3.53,...,1.53,1.79,2.00,1.48,1.92,1.76,2.03,2.11,1.87,1.3
1,1,2.00,1.63,1.74,1.82,3.70,1.30,3.00,3.12,3.36,...,1.76,2.06,1.43,1.63,1.95,1.91,2.69,2.95,1.96,1.3
2,1,1.93,1.30,1.45,1.30,3.38,1.30,3.05,3.39,3.36,...,1.98,2.20,1.30,1.71,2.04,1.93,1.79,1.88,1.96,1.3
3,1,2.23,1.60,1.56,1.91,3.42,1.30,3.08,3.29,3.36,...,1.79,2.20,1.63,1.72,1.91,2.13,1.78,1.84,1.95,1.3
4,1,1.76,1.62,1.30,2.03,3.55,1.30,3.17,3.14,3.50,...,1.30,1.79,2.20,1.62,1.86,1.91,1.78,1.70,1.87,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11,2.61,1.70,1.30,1.30,2.16,1.30,3.16,3.16,3.14,...,1.78,1.95,2.55,1.77,1.81,2.20,1.63,1.79,1.94,1.3
96,11,2.72,1.69,2.29,1.40,1.30,1.30,3.17,4.06,3.25,...,2.28,1.76,1.30,2.28,2.02,1.96,1.30,1.30,2.30,1.3
97,11,2.53,1.71,1.30,1.30,2.40,3.03,3.23,3.25,3.01,...,1.99,2.26,2.15,2.09,2.00,2.13,1.57,1.72,2.18,1.3
98,11,2.50,1.64,1.69,1.30,2.40,2.37,3.13,3.23,3.38,...,1.76,1.40,1.30,1.86,1.94,2.08,1.30,1.63,2.02,1.3
99,11,2.72,1.30,1.30,2.34,1.70,1.30,3.34,3.11,3.20,...,1.89,1.63,1.61,1.98,1.99,2.04,1.49,1.49,2.52,1.3

# Input any missing data

In [6]:
# Separate numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns


# Impute missing values for numerical columns using the median
for col in numerical_cols:
    if df[col].isnull().sum() > 0:
        median_value = df[col].median()
        df[col] = df[col].fillna(median_value)
        print(f"Imputed missing values in '{col}' with median: {median_value}")
df

,0,1,2,3,4,5,6,7,8,9,...,9173,9174,9175,9176,9177,9178,9179,9180,9181,9182
0,1,2.36,1.51,1.48,1.30,2.99,1.30,2.73,3.28,3.53,...,1.53,1.79,2.00,1.48,1.92,1.76,2.03,2.11,1.87,1.3
1,1,2.00,1.63,1.74,1.82,3.70,1.30,3.00,3.12,3.36,...,1.76,2.06,1.43,1.63,1.95,1.91,2.69,2.95,1.96,1.3
2,1,1.93,1.30,1.45,1.30,3.38,1.30,3.05,3.39,3.36,...,1.98,2.20,1.30,1.71,2.04,1.93,1.79,1.88,1.96,1.3
3,1,2.23,1.60,1.56,1.91,3.42,1.30,3.08,3.29,3.36,...,1.79,2.20,1.63,1.72,1.91,2.13,1.78,1.84,1.95,1.3
4,1,1.76,1.62,1.30,2.03,3.55,1.30,3.17,3.14,3.50,...,1.30,1.79,2.20,1.62,1.86,1.91,1.78,1.70,1.87,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11,2.61,1.70,1.30,1.30,2.16,1.30,3.16,3.16,3.14,...,1.78,1.95,2.55,1.77,1.81,2.20,1.63,1.79,1.94,1.3
96,11,2.72,1.69,2.29,1.40,1.30,1.30,3.17,4.06,3.25,...,2.28,1.76,1.30,2.28,2.02,1.96,1.30,1.30,2.30,1.3
97,11,2.53,1.71,1.30,1.30,2.40,3.03,3.23,3.25,3.01,...,1.99,2.26,2.15,2.09,2.00,2.13,1.57,1.72,2.18,1.3
98,11,2.50,1.64,1.69,1.30,2.40,2.37,3.13,3.23,3.38,...,1.76,1.40,1.30,1.86,1.94,2.08,1.30,1.63,2.02,1.3
99,11,2.72,1.30,1.30,2.34,1.70,1.30,3.34,3.11,3.20,...,1.89,1.63,1.61,1.98,1.99,2.04,1.49,1.49,2.52,1.3

# SVM Model

In [7]:
# Split into features (X) and target variable (y)
X = df.drop(df.columns[0], axis=1)
y = df[df.columns[0]]

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create an SVM model with a linear kernel
svm_model = SVC(kernel='linear', random_state=42)

# Train the model
svm_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = svm_model.predict(X_test_scaled)

# Evaluate the model's accuracy
f1 = f1_score(y_test, y_pred,average='weighted', zero_division= np.nan)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred,average='weighted', zero_division= np.nan)
precision = precision_score(y_test, y_pred,average='weighted', zero_division= np.nan)

print("Accuracy:", accuracy)
print("F1 Score:", f1)
print("Recall:", recall)
print("Precision:", precision)

Accuracy: 0.95
F1 Score: 0.9666666666666666
Recall: 0.95
Precision: 1.0

# KNN Model

In [8]:
# Split into features (X) and target variable (y)
X = df.drop(df.columns[0], axis=1)
y = df[df.columns[0]]

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)


# Initialize the KNN classifier with k=5
knn_model = KNeighborsClassifier(n_neighbors=5)

# Train the model
knn_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = knn_model.predict(X_test_scaled)

# Evaluate the model's accuracy
f1 = f1_score(y_test, y_pred,average='weighted', zero_division= np.nan)
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred,average='weighted')
precision = precision_score(y_test, y_pred,average='weighted', zero_division= np.nan)

print("Accuracy:", accuracy)
print("F1 Score:", f1)
print("Recall:", recall)
print("Precision:", precision)

Accuracy: 0.8
F1 Score: 0.7544444444444445
Recall: 0.8
Precision: 0.8444444444444444