# Machine Learning Project: Classification 1
Calvin Wong<br>
Mohammed Hussain

In [1]:
# Useful libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score
from sklearn import metrics  
from sklearn import tree

# Classification

In [2]:
Test = pd.read_csv("TestData1.csv")
Test

NameError: name 'pd' is not defined

In [3]:
Train = pd.read_csv("TrainData1.csv")
Train

NameError: name 'pd' is not defined

In [ ]:
Label = pd.read_csv("TrainLabel1.csv")
Label

     1
0    1
1    2
2    1
3    1
4    2
..  ..
144  1
145  1
146  1
147  4
148  1

[149 rows x 1 columns]

In [ ]:
df = pd.concat([Label,Train], axis=1, ignore_index=True)
df

,0,1,2,3,4,5,6,7,8,9,...,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312
0,1,3.904190,2.309524,2.152930e+00,1.000000e+99,3.532368e+00,3.524866,3.677791,3.636671e+00,3.696868e+00,...,1.951532e+00,1.442323,1.000000,2.127914,2.979658,1.961089,2.519027,2.054383,2.689903,2.090928
1,2,3.750908,1.161068,1.017033e+00,2.347993e+00,3.381889e+00,3.393096,3.509134,3.512466e+00,3.622203e+00,...,1.000000e+00,1.584105,1.000000,1.945321,3.257004,1.965061,2.536066,1.449324,2.605230,1.368659
2,1,3.809383,1.912355,1.856940e+00,2.498944e+00,3.289406e+00,3.371232,3.541995,1.000000e+99,3.473179e+00,...,1.869965e+00,1.481658,1.000000,2.155032,3.270371,1.928473,2.618074,2.154013,2.530046,2.185514
3,1,3.893561,2.094192,1.881271e+00,2.785707e+00,3.344339e+00,3.274417,3.485872,3.516527e+00,3.642358e+00,...,1.480725e+00,1.510545,1.000000,2.094192,3.246666,1.824516,2.562317,1.942256,2.598517,1.764624
4,2,3.841385,1.203848,1.015360e+00,2.289634e+00,3.108612e+00,3.066139,3.410717,3.487736e+00,3.641201e+00,...,1.000000e+00,1.717421,1.000000,2.135737,3.021475,2.054345,2.601995,1.000000,2.541554,2.089870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,1,3.901178,1.672421,1.869554e+00,2.234758e+00,1.000000e+99,3.469689,3.565574,3.653364e+00,3.720899e+00,...,2.140555e+00,1.960423,1.240300,2.149958,3.042383,1.799134,2.772116,2.460484,2.413685,2.018971
145,1,3.865257,1.796990,1.643650e+00,2.307902e+00,3.411704e+00,3.410870,3.527868,3.488609e+00,1.000000e+99,...,2.183981e+00,2.519171,1.000000,2.174641,2.902840,1.844850,2.647755,1.000000,2.219480,1.992730
146,1,3.860198,2.097778,1.000000e+99,2.438788e+00,3.365076e+00,3.391729,3.461051,3.408433e+00,3.531799e+00,...,1.000000e+99,2.478032,1.358316,2.125741,3.041140,1.779308,2.585771,1.000000,2.282543,2.055703
147,4,3.907102,1.000000,1.473633e+00,2.158604e+00,3.459391e+00,3.478222,3.621380,3.480155e+00,3.595473e+00,...,2.232310e+00,1.380573,1.000000,2.105578,2.902655,2.156428,2.272538,1.000000,1.968483,2.318502
148,1,3.763867,2.281193,2.199179e+00,2.579235e+00,3.382473e+00,3.375192,3.514874,3.597044e+00,3.663170e+00,...,2.295435e+00,1.488551,1.000000,2.021685,3.244604,2.413166,2.418467,1.473341,3.005292,2.232793

In [ ]:
Test = pd.read_csv("TestData2.csv")
Test

In [ ]:
Test = pd.read_csv("TrainData2.csv")
Test

In [ ]:
Test = pd.read_csv("TrainLabel2.csv")
Test

In [ ]:
Test = pd.read_csv("TestData3.csv")
Test

In [ ]:
Test = pd.read_csv("TrainData3.csv")
Test

In [ ]:
Test = pd.read_csv("TrainLabel3.csv")

# Missing Value Estimation