# Missing Value Estimation 3

In [1]:
# Useful libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import KNNImputer

from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score, classification_report
from sklearn import metrics  
from sklearn import tree

In [2]:
df = pd.read_csv("MissingData3.csv", header=None)

In [3]:
#Replace all 1.000000e+99 with nan
df[df > 1000] = np.nan

# Total number of entries
total = df.size

# Count of NaN values
nan_count = df.isna().sum().sum()

# Count of Non-NaN values
non_nan_count = total - nan_count
print("Missing value percentage:",nan_count/total * 100,"%")
df

Missing value percentage: 82.31093800714055 %

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,10.145677,NaN,NaN,8.646739,7.446256,NaN,NaN,6.655352,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11.000000,NaN,NaN,8.000000,7.000000,10.0,6.0,6.000000,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11.861707,NaN,NaN,NaN,8.862947,NaN,NaN,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11.999000,10.0,NaN,11.000000,6.405992,NaN,4.0,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.000000,NaN,NaN,9.000000,7.584963,NaN,7.0,8.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.596136,11.611122,11.073963,11.169925,7.333421,NaN,9.592793,11.999000
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.546729,7.094387,6.611122,NaN,7.000000,10.666576,NaN,11.118593,9.081794
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.546729,10.596136,NaN,10.736966,NaN,11.999000,NaN,11.999000,10.286635
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.546729,9.596136,NaN,9.222392,NaN,11.000178,NaN,11.452195,8.081794
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.708617,8.888918,10.388729,9.070389,NaN,11.723375,NaN,11.999000,9.620586

In [4]:
# Initialize the KNNImputer
imputer = KNNImputer(n_neighbors=2) 

# Fit and transform the data
imputed_data = imputer.fit_transform(df)

# Convert the result back to a DataFrame
imputed_df = pd.DataFrame(imputed_data, columns=df.columns)

print("\nDataFrame After KNN Imputation:")
imputed_df
imputed_df.to_csv('WongMissingResult3.csv')

DataFrame After KNN Imputation: